.react-grid-item {
  background: #fff;
  height: auto !important;
  padding: 1em 0em;
  border-radius: 10px;
  z-index: 9999;
}

.card {

  img {
    width: 300px;
    position: relative;
    z-index: -1;
  }

  p {
    padding: 0 1em;
    color: #333333;
  }

  .fa-arrows {
    color: #333333;
    z-index: 99999;
  }

  &:hover {
    cursor: -webkit-grab;
  }

  &:active {
    cursor: -webkit-grabbing;
  }

}
