.react-grid-item {
  background: #fff;
  height: auto !important;
  padding: 2.5em 0em 1em 0em;
  border-radius: 10px;
  z-index: 9999;

  &:active {
    top: 100px;
    left: 0px;
  }
}

.card {

  img {
    width: 300px;
    position: relative;
    z-index: -1;
  }

  p {
    padding: 0 1em;
    color: #333333;
  }

  .fa-arrows {
    color: #DADADA;
    position: absolute;
    top: 15px;
    right: 15px;

    &:hover {
      cursor: -webkit-grab;
    }

    &:active {
      cursor: -webkit-grabbing;
    }
  }

  .fa-times {
    color: #D04F3B;
    position: absolute;
    top: 15px;
    left: 15px;

    &:hover {
      cursor: pointer;
    }
  }

}

.card-hide {
  display: none;
}

@media only screen and (min-width: 1030px) {
  .react-grid-item {
     &:active {
      top: 100px;
      left: 2px;
    }
  }
}

@media only screen and (min-width: 1035px) {
  .react-grid-item {
     &:active {
      top: 100px;
      left: 5px;
    }
  }
}

@media only screen and (min-width: 1060px) {
  .react-grid-item {
     &:active {
      top: 100px;
      left: 10px;
    }
  }
}

@media only screen and (min-width: 1060px) {
  .react-grid-item {
     &:active {
      top: 100px;
      left: 15px;
    }
  }
}

@media only screen and (min-width: 1100px) {
  .react-grid-item {
     &:active {
      top: 100px;
      left: 20px;
    }
  }
}

@media only screen and (min-width: 1150px) {
  .react-grid-item {
     &:active {
      top: 100px;
      left: 25px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .react-grid-item {
     &:active {
      top: 100px;
      left: 30px;
    }
  }
}

@media only screen and (min-width: 1250px) {
  .react-grid-item {
     &:active {
      top: 100px;
      left: 35px;
    }
  }
}

@media only screen and (min-width: 1300px) {
  .react-grid-item {
     &:active {
      top: 100px;
      left: 40px;
    }
  }
}

@media only screen and (min-width: 1350px) {
  .react-grid-item {
     &:active {
      top: 100px;
      left: 75px;
    }
  }
}
